@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat";
}

.container {
  text-align: center;
  margin-top: 270px;
}

a {
  background-color: #2998f3;
  padding: 18px 30px;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
}

a span {
  color: #ffffff;
  font-size: 20px;
}

.badge {
  background-color: #2b2b2b;
  font-size: 17px;
  font-weight: 600;
  padding: 6px 11px;
  border-radius: 50%;
  position: absolute;
  bottom: 37px;
  right: -14px;
}
