@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.container {
  background-color: #6b91dd;
  padding: 15px 25px;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  margin: 40vh 45vw;
}

.container:hover {
  background-color: #575757;
}

.container a {
  text-decoration: none;
}

.container span {
  color: #ffffff;
  font-size: 20px;
  font-family: "Montserrat";
}

.badge {
  background-color: #575757;
  font-weight: 600;
  padding: 6px 11px;
  border-radius: 50%;
  position: absolute;
  top: -16px;
  right: -15px;
}
