@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "poppins", "verdana";
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(https://c1.wallpaperflare.com/preview/277/103/602/dark-foliage-tree-leaf.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
}

h2,
h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

h3 {
  margin-bottom: 40px;
}

.yo > p {
  font-size: 18px;
  margin: 24px 20%;
}

.yo input,
.yo select {
  width: 18vw;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  padding: 7px 20px;
  font-size: 15px;
}

.yo select {
  border-radius: 0px;
  padding: 7px 10px;
}

.yo > button {
  margin: 10px 0px 0px 20%;
  padding: 10px;
  width: 30vw;
  background-color: #609ea0;
  border-radius: 30px;
  font-size: 20px;
  transition: opacity 250ms ease;
}

.yo > button:hover {
  cursor: pointer;
  opacity: 0.85;
}
