@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Indie Flower";
  color: #000;
}

body {
  margin: 0px 15px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 35px;
}

hr {
  height: 3px;
  background-color: #000;
  border-radius: 5px;
}

table {
  margin-top: 15px;
  border: none;
  border-spacing: 4px;
}

th,
td {
  background-color: #7fffd4;
  padding: 12px;
  font-weight: bold;
  text-align: center;
}

th {
  font-size: 25px;
  color: #ff0000;
}

td {
  font-size: 22px;
}

caption {
  font-size: 25px;
  font-weight: bold;
  caption-side: bottom;
  margin-top: 5px;
}

tr:nth-child(3) > td:last-child {
  background-color: #8fb1cc;
}
