@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Montserrat";
  color: #ffffff;
}

body {
  height: 100vh;
  background-color: #eeeceb;
}

a {
  text-decoration: none;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #140a5c;
}

.top {
  padding: 25px 80px;
}

.top > div {
  display: inline-block;
}

.logo-details h1 {
  font-size: 32px;
  font-weight: 500;
}

.socials {
  float: right;
}

.socials a {
  margin-left: 15px;
}

.socials a i {
  width: 17px;
  font-size: 17px;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
}

.fa-facebook-f {
  background-color: #3b5998;
}

.fa-twitter {
  background-color: #1da1f2;
}

.fa-instagram {
  background-color: #cd486b;
}

.fa-linkedin-in {
  background-color: #0072b1;
}

.fa-youtube {
  background-color: #ff0000;
}

.content {
  padding: 30px 80px;
}

.content > div {
  display: inline-block;
  vertical-align: top;
  margin: 0px 65px;
}

.content > :first-child {
  margin-left: 0px;
}

.content > :last-child {
  margin-right: 0px;
}

.content h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

.content h2::after {
  content: "";
  display: block;
  background-color: #ffffff;
  height: 2px;
  width: 35px;
  position: relative;
  top: 3px;
}

.content p {
  margin-bottom: 15px;
  font-size: 15px;
}

form input {
  width: 240px;
  padding: 10px 14px;
  font-size: 15px;
  font-weight: 500;
  color: #d0cedf;
  background-color: transparent;
  border: 2px solid #d0cedf;
  border-radius: 4px;
}

::placeholder {
  color: #d0cedf;
}

form button {
  width: 270px;
  background-color: #d0cedf;
  color: #0f0844;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

form button:hover {
  cursor: pointer;
  opacity: 0.9;
}

footer {
  padding: 20px 80px;
  background-color: #0f0844;
}

footer > p {
  display: inline-block;
  font-size: 14px;
}

.copyright a {
  color: #d0cedf;
  margin-right: 8px;
}

.policy-terms {
  float: right;
}

.policy-terms a {
  color: #d0cedf;
  margin-left: 10px;
}
