@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: "Montserrat";
  color: #ffffff;
}

h1 {
  font-size: 34px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
}

p {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
}

a {
  color: #e6e1e1;
  text-decoration: none;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65vh;
  background-color: #030d59;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.top {
  flex-grow: 1.5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-details,
.socials {
  margin: 20px 50px;
}

.socials i {
  /* to make the width of all icons same */
  width: 20px;
  margin: 0 7px;
  padding: 12px;
  border-radius: 21px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

.socials i:hover {
  animation: zoom 200ms ease 1 forwards;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}

.fa-facebook-f {
  background-color: #4267b2;
}

.fa-twitter {
  background-color: #1da1f2;
}

.fa-instagram {
  background-color: #fe4164;
}

.fa-linkedin-in {
  background-color: #0077b5;
}

.fa-youtube {
  background-color: #ff0000;
}

.content {
  flex-grow: 4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content > div {
  margin: 30px 50px;
}

.content h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px;
  position: relative;
  left: 0px;
  bottom: -3px;
}

input,
button {
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat";
}

input {
  color: #e6e1e1;
  border: 2px solid #e6e1e1;
  border-radius: 3px;
  background-color: #030d59;
}

::placeholder {
  color: #e6e1e1;
}

button {
  width: 100%;
  color: #030d59;
  border: none;
  border-radius: 3px;
  background-color: #e6e1e1;
  transition: box-shadow 200ms ease;
}

button:hover {
  box-shadow: 0 0 30px 40px #c6c4c4 inset;
  cursor: pointer;
}

footer {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #020835;
}

footer > p {
  margin: 22px 50px;
}

footer a {
  margin-right: 12px;
}
