@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Montserrat";
  color: #ffffff;
}

body {
  background-color: #000;
}

.form {
  width: 300px;
  border-radius: 30px;
  background-color: #14172c;
  margin: 90px auto 0px auto;
  padding: 40px 25px;
}

.title {
  font-size: 35px;
  font-weight: 600;
}

.subtitle {
  margin-top: 12px;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 500;
}

.placeholder,
.cut {
  display: none;
}

.input,
.submit {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
}

.input {
  margin-top: 25px;
  background-color: #303246;
}

::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.submit {
  margin-top: 35px;
  background-color: #0088dd;
  text-transform: capitalize;
  transition: background-color 250ms ease;
}

.submit:hover {
  cursor: pointer;
  background-color: rgba(0, 136, 221, 0.8);
}
