@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  color: #000;
}

body {
  height: 100vh;
  background: linear-gradient(to right top, #abfd32, #2092fb);
  overflow: hidden;
}

.center {
  width: 380px;
  box-sizing: border-box;
  margin: 110px auto 0px auto;
  padding: 40px 35px;
  border-radius: 12px;
  background-color: #ffffff;
}

.header h1 {
  font-family: "Sansita Swashed";
  font-size: 30px;
  letter-spacing: 1.5px;
}

.header h1::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 50px;
  border-radius: 5px;
  background-color: #1b98f5;
  position: relative;
  top: 15px;
  margin-right: 12px;
}

.center form {
  margin-top: 30px;
}

.inputbox span {
  display: none;
}

form input {
  margin-top: 40px;
  font-size: 18px;
  font-family: Arial;
  border-radius: 10px;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  border: 2px solid #000;
}

::placeholder {
  color: #000;
}

input[type="button"] {
  margin-bottom: 15px;
  padding: 12px 30px;
  background-color: #1d90ff;
  color: #fff;
  border: none;
  transition: background-color 250ms ease;
}

input[type="button"]:hover {
  cursor: pointer;
  background-color: #0084ff;
}
