@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: #cfdfe0;
}

.btn-wrapper {
  text-align: center;
  margin-top: 260px;
}

.btn {
  background-image: linear-gradient(to bottom, #143c77 40%, #02184e);
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 28px 50px;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 15px 35px 2px #707070;
  cursor: pointer;
}

.btn-text-two {
  display: none;
}

.btn:hover > .btn-text-one {
  display: none;
}

.btn:hover > .btn-text-two {
  display: block;
}
